[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
pylint = "*"
"pep8" = "*"
pycodestyle = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.6"
